@tailwind base;
@tailwind components;
@tailwind utilities;


.green{
    background: green;
}
.red,.green,.orange{
    color: white;
}
.orange{
    background: orange;
}
.red{
    background: red;
}
.white{
    background: white;
}
